
\.idea/

env/

__pycache__/

object_detection/__pycache__/

object_detection/anchor_generators/__pycache__/

object_detection/box_coders/__pycache__/

object_detection/builders/__pycache__/

object_detection/core/__pycache__/

object_detection/data_decoders/__pycache__/

object_detection/matchers/__pycache__/

object_detection/meta_architectures/__pycache__/

object_detection/models/__pycache__/

object_detection/protos/__pycache__/

object_detection/utils/__pycache__/

object_detection/inference_graph/ssd_mobilenet_v1_ship_15000/

object_detection/inference_graph/ssd_inception_v2_ship_15000/

object_detection/inference_graph/rfcn_resnet101_ship_15000/

object_detection/inference_graph/faster_rcnn_resnet101_ship_15000/

object_detection/inference_graph/faster_rcnn_inception_resnet_v2_ship_15000/

*.mp4

*.avi

*.MOV

test\.py

